.task {
	$block: &;

	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding: 5px 10px;
	border-radius: var(--border-radius-base);
	background-color: var(--white-color);

	&:last-child {
		margin-bottom: 0;
	}

	&__text {
		flex-grow: 1;
		padding: 5px 10px;
		outline: 0;
		border: 1px solid transparent;
		border-radius: var(--border-radius-base);
		font-size: 14px;

		&:hover {
			background-color: var(--blue-color-alpha20);
		}

		&:focus {
			border-color: var(--blue-color);
			background-color: var(--blue-color-alpha20);
		}

		#{$block}--completed & {
			color: var(--gray-color);
			text-decoration: line-through;
		}
	}

	&__close {
		width: 12px;
		height: 12px;
		fill: var(--gray-color);
	}
}
