.todos {
	&__form {
		position: relative;
		margin-bottom: 15px;

		.btn {
			position: absolute;
			top: 5px;
			right: 3px;
		}

		input {
			padding: 10px 12px;
			width: 100%;
			height: 35px;
			outline: 0;
			border: 1px solid var(--gray-color);
			border-radius: var(--border-radius-base);

			&:focus {
				border-color: var(--blue-color);
				box-shadow: 0 0 0 2px var(--blue-color-alpha20);
			}
		}
	}

	&__list {
		position: relative;
	}
}
